<table class="files-table" id="file-table">
  <thead>
    <tr>
      <th data-field="name">File Name</th>
      <th data-field="modified">Last Modified</th>
      <th data-field="path">Path</th>
      <th>
    </tr>
  </thead>
  <tbody>
    {{#files}}
      <tr class="all-files-row">
        <td>{{this.name}}</td>
        <td>{{this.updated_at}}</td>
        <td>{{this.path}}</td>
        {{!-- <td><a class="btn modal-trigger" data-id="{{this._id}}" href="#edit-tags-modal" id="edit-tags">Edit Tags</a></td> --}}
        {{!-- <td><a id="delete-file" class="btn modal-trigger" data-id="{{this._id}}" href="#delete-file-modal" >Delete File</a></td> --}}
        <td><button type="button" class="btn btn-success modal-trigger" data-id="{{this._id}}" href="#edit-tags-modal" id="edit-tags"><span class="glyphicon glyphicon-tags"></span> Edit Tags</button></td>
        <td><button type="button" class="btn btn-trash modal-trigger" data-id="{{this._id}}" href="#delete-file-modal" id="delete-file"><span class="glyphicon glyphicon-trash"></span> Delete File</button></td>
      </tr>
    {{/files}}
  </tbody>
</table>
