<table class="files-table table-responsive table"  id="file-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Modified</th>
      <th>Tags</th>
      <th>Edit Tags</th>
      <th>Delete File</th>
    </tr>
  </thead>
  <tbody>
    {{#nodes}}
      <tr class="all-files-row">
        <td><a href="#" data-type="{{this.type}}" data-location="{{this.location}}">{{this.name}}</a></td>
        <td>{{this.updated_at}}</td>
        <td>{{this.tags}}</td>
        <td><button type="button" class="btn btn-success edit-tags" data-toggle="modal" data-target="#edit-tags-modal" data-id="{{this._id}}" ><span class="glyphicon glyphicon-tags"></span></button></td>
        <td><button type="button" class="btn btn-trash delete-node" data-toggle="modal" data-target="#delete-file-modal" data-id="{{this._id}}" ><span class="glyphicon glyphicon-trash"></span></button></td>
      </tr>
    {{/nodes}}
  </tbody>
</table>
