<table class="centered striped bordered file" id="file-table">
  <thead>
    <tr>
      <th data-field="name">File Name</th>
      <th data-field="modified">Last Modified</th>
      <th data-field="path">Path</th>
      <th>
    </tr>
  </thead>
  <tbody>
    {{#files}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.updated_at}}</td>
        <td>{{this.path}}</td>
        <td><a class="waves-effect waves-light btn modal-trigger" data-id="{{this._id}}" href="#edit-tags-modal" id="edit-tags">Edit Tags</a></td>
        <td><a id="delete-file" class="waves-effect waves-light btn modal-trigger" data-id="{{this._id}}" href="#delete-file-modal" >Delete File</a></td>
      </tr>
    {{/files}}
  </tbody>
</table>
