<table class="centered striped bordered card">
  <thead>
    <tr>
      <th data-field="art">Card</th>
      <th data-field="name">Name</th>
      <th data-field="quantity">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {{#cards}}
      <tr>
        <td>
          <div class="valign-wrapper">
            <img class="responsive-img valign" src="assets/images/{{this.card.set}}/ENG/{{this.card.name}}.jpg">
          </div>
        </td>
        <td>
          {{this.card.name}}
        </td>
        <td>
          <form id="card_quantity">
            <div class="input-field">
              <input value="{{this.count}}" class="validate center-align" name="quantity" id="card_quantity" type="text"></input>
              <button type="submit" class="btn deep-orange" data-id="update-button" data-card-name="{{this.card.name}}">Update</button>
              <button class="waves-effect waves-light btn red darken-3" data-card-name="{{this.card.name}}">Remove</button>
            </div>
          </form>
        </td>
      </tr>
    {{/cards}}
  </tbody>
</table>
